/*
---STYLE GUIDE---

0.RESET
1.LAYOUT
2.GENERIC ITEMS
3.PARTS OF THE WEB
4.LIST
5.FORM
6.ANIMATION
------------------
COLORS
color1 : #2c3e56;
color2 : #34495e;
color3 : #3498db;
color4 : #fff;
color5 : #6199B8;

*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/



/* --- COLORS ---

/* 0 RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 /*fonts TO CALL 
FONT1: 'futura-pt-cond-11'

futura-pt-13

/* 1 LAYOUT */
html {scroll-behavior: smooth;}

h2 {text-align: center;}

.list-services {display: flex; align-items: center; justify-content: center; }
 .list-services figure {padding: 10px;  }
  .list-work {display: flex; align-items: center; justify-content: center;}
  .list-work2 {display: flex; align-items: center; justify-content: center;}
   .list-work figure {padding: 50px	}
	 .list-work2 figure {padding: 50px;}


 .navbar {font: 17px 'Nunito'; color: white;}
 .nav-link {margin-right: 7vh; color: white; }
 .navbar-brand.mb-0.h1 {margin-left: 9vh; font: 25px 'Nunito';}
 /* 2 GENERIC ITEMS */
.title {margin-bottom: 40px; font: 60px 'Stint Ultra Condensed'; text-transform: uppercase;}
.p {margin-bottom: 30px; }
 .contain {padding-left: 10vh; padding-right: 10vh;}
/* 3 PARTS OF THE WEB */
.content {padding: 80px 0 20px 0;}
.who {background: #fff; color: black; border-bottom: 2px solid black; font: 20px 'futura-pt-13';
	border-top: 2px solid black;  }
 .who p {max-width: 1055px; margin: auto; padding-bottom: 3rem;}

 .mywork2 {background: linear-gradient( 110.3deg,  rgba(52, 54, 56, 0.616) 4.3%, rgba(20, 189, 175, 0.534) 96.7% ),	 url(/img/blackbg.jpg); background-size: cover ;color: #fff; border-bottom: 2px solid white; text-align: center; font: 20px 'futura-pt-13'; }
.mywork1 { padding-bottom: 50px ; color: #fff ;text-align: center; font: 20px 'futura-pt-13'; background:  #000; background-image: linear-gradient( 110.3deg,  rgb(52, 54, 56) 4.3%, rgb(20, 138, 128) 96.7% );}
 .services {background: linear-gradient(0deg, rgba(0, 104, 64, 0.1), rgba(1, 131, 51, 0.1)), url(/img/whitebg4.png); background-position-x: 8rem ; color: #000000; border-bottom: 2px solid #000000; padding-top: 3vh; }
 .services .title {color: #000000}
 .contact {background: url(/img/blackbg6.jpg) ; border-bottom: 1px solid black; background-size: cover;
 color: #fff; text-align: left; font: 20px 'futura-pt-13'; padding-bottom: 3rem; padding-top: 3rem;}
  .container p {max-width: 450px;}
footer {background: radial-gradient(ellipse at bottom left, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25), rgba(42, 60, 87, 0.4)), linear-gradient(135deg, #670d10, #092756);
 color: #fff; position: sticky; width: 100%; text-align: center; }
.carousel-item {
	max-height: 700vh;

}



.itemcar1 {position: relative; height: 70vh;}
.itemcar2 {position: relative; height: 70vh;}
.itemcar3 {position: relative; height: 70vh;}
.sliderino {display: none; max-width: 100%; background-color: rgb(70, 70, 70);}
.services p {padding-left: 45px; padding-right: 45px; font: 20px 'futura-pt-13';}



@media screen and (min-width: 1023px) {
	.sliderino {
	  display: block;
	}
}

/* 4 LIST */

/* 5 FORM */

/* 6 ANIMATION */
/*Hover of work images*/
@media screen and (max-width: 1023px) {
	.navbar:not(.top-nav-collapse) {
		background: #1C2331!important;
	}
}
.bg-transparent{
	transition: 0.5s ease;
	background: #000 !important;
}
.bg-transparent.scrolled {
	transition: 0.5s ease;
	background: #000 !important;
}
/* services pictures hovers */



  /* hover mywork*/

  .hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;

  }
  
  .hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 3em;
	text-align: left;
  }
  
  .hovereffect img {
	display: block;
	position: relative;
	max-width: none;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
  }
  
  .hovereffect h2 {
	text-transform: uppercase;
	color: #fff;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	padding: 15% 0 10px 0;
	text-align: left;
  }
  
  .hovereffect .overlay:before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 35px;
	left: 20px;
	border: 1px solid rgb(0, 255, 213);
	content: '';
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);
  }
  
  .hovereffect a, .hovereffect p {
	color: #FFF;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
  }
  
  .hovereffect:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
  }
  
  .hovereffect:hover .overlay:before,
  .hovereffect:hover a, .hovereffect:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
  }

  .hovereffect:hover img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
	filter: grayscale(1) blur(3px);
	-webkit-filter: grayscale(1) blur(3px);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }