.btn {margin-left: 1px; margin-top: 10px; width: 300px;}
body {background: #000000; opacity: 1; color: #fff; font-size: 25px;}

img {width: 100%; height: 1000px;}
.mainform {
  width: 450px;
  margin: auto;
}
footer {background-color: #1384a7; color: #fff;  width: 100%; text-align: center; position: absolute; bottom: 0; font-size: 20px;}